/***************************
****************************
Base Styles
****************************
***************************/

html {
	height: 100%;
}

body {
	min-height:100%; 
	width: 100%;
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(141deg, #AAE5F8 0%, #56CCF2 40%, #2F80ED 75%) no-repeat;  /* Chrome 10-25, Safari 5.1-6 */
	background: -moz-linear-gradient(141deg, #AAE5F8 0%, #56CCF2 40%, #2F80ED 75%) no-repeat;	
	background: -o-linear-linear-gradient(141deg, #AAE5F8 0%, #56CCF2 40%, #2F80ED 75%) no-repeat;	
	background: linear-gradient(141deg, #AAE5F8  0%, #56CCF2 40%, #2F80ED 75%) no-repeat; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	line-height: 1;
	background-size: auto 400%; 
	background-position: 50% 20%;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: normal;
  color: #000080;
}

a:hover {
	color: #000080;
}
