$mq-1: 768px !default; /* 768px / 16px = 48em */
$mq-2: 992px !default; /* 992px / 16px = 62em */
$mq-3: 1200px !default; /* 1200px / 16px = 75em */
$mq-4: 1800px !default; /* 1200px / 16px = 112.5em */

/* Small Only */
@mixin small-only {
    @media screen and (max-width : $mq-1 - 1px) {
        @content;
    }
}

/* Medium Devices, Tablets */
@mixin medium-and-above {
    @media screen and (min-width : $mq-1) {
        @content;
    }
}

/* Large Devices, Tablets */
@mixin large-and-above {
    @media screen and (min-width : $mq-2) {
        @content;
    }
}

/* XL Devices, Tablets */
@mixin xl-and-above {
    @media screen and (min-width : $mq-3) {
        @content;
    }
}

/* XXL Devices, Tablets */
@mixin xxl-and-above {
    @media screen and (min-width : $mq-4) {
        @content;
    }
}