/***************************
Header
***************************/

header {
  overflow: hidden;
  background: none;
  height: 80px;
  .container {
		@include small-only {
	  	padding-top: 7px;
		}
	} 
}