
		<div ng-controller="WorkController">
			<section class="work-lg-section d-flex flex-column justify-content-center align-items-center">
				<div class="sub-title-v">Services</div>
					<div class="wrap-v">
						<div class="links" id="link-1-v" ng-style={{line1vPadding}}>
							<div class="dot"></div>
						</div>
					</div>
					<div class="services-body">
							A Fresh Perspective specializes in the following services:<br/><p></p>
							<table class="table table-sm">
								<tbody>
									<tr>
										<td>
											<span data-toggle="collapse" data-target="#collapseCustom" aria-expanded="false" aria-controls="collapseCustom" class="collapseItem" ng-click="changeChevron('#CustomGlyphicon')">
                        <span class="fa fa-chevron-circle-down" id="CustomGlyphicon" aria-hidden="true"></span>
                        &nbsp;Custom Web Design &amp; Development
                      </span><br/>
                      <div class="collapse" id="collapseCustom">
                        <div class="well">
                          Every website is designed and developed in-house from scratch. Our goal is to ensure your website is unique to your business and we will never build it from a template.
                        </div>
                      </div>
                    </td>
                  </tr>
									<tr>
										<td>
											<span data-toggle="collapse" data-target="#collapseOngoing" aria-expanded="false" aria-controls="collapseOngoing" class="collapseItem" ng-click="changeChevron('#OngoingGlyphicon')">
                        <span class="fa fa-chevron-circle-down" id="OngoingGlyphicon" aria-hidden="true"></span>
                        &nbsp;On-going Site Maintenance
                      </span><br/>
                      <div class="collapse" id="collapseOngoing">
                        <div class="well">
                          We offer post-sale support at a reasonable hourly rate to make any adjustments or changes as required. 
                        </div>
                      </div>
                    </td>
                  </tr>
									<tr>
										<td>
											<span data-toggle="collapse" data-target="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial" class="collapseItem" ng-click="changeChevron('#SocialGlyphicon')">
	                      <span class="fa fa-chevron-circle-down" id="SocialGlyphicon" aria-hidden="true"></span>
	                      &nbsp;Social Media Management
	                    </span><br/>
	                    <div class="collapse" id="collapseSocial">
	                      <div class="well">
	                        INSERT SOMETHING SOMETHING HERE
	                      </div>
	                    </div>
	                  </td>
                  </tr>
									<tr>
										<td>
											<span data-toggle="collapse" data-target="#collapseAnalytics" aria-expanded="false" aria-controls="collapseAnalytics" class="collapseItem" ng-click="changeChevron('#AnalyticsGlyphicon')">
	                      <span class="fa fa-chevron-circle-down" id="AnalyticsGlyphicon" aria-hidden="true"></span>
	                      &nbsp;Google Analytics Reporting
	                    </span><br/>
	                    <div class="collapse" id="collapseAnalytics">
	                      <div class="well">
	                        INSERT SOMETHING SOMETHING HERE
	                      </div>
	                    </div>
	                  </td>
                  </tr>
                </tbody>
							</table>
						All website projects are coded and designed in-house. No templates. No matter your budget, we will ensure that you and your users will be esctatic with the work.<br/>
						Depending on your requirements, we work with highly qualified external vendors for other professional services, such as photography and copy-editing.<br/>
						Do you have a project that you need a quote on? <a id="messageUs" data-toggle="modal" data-target="#messageModal">Message us</a> today!
					</div>
					<div class="wrap-2-v">
						<div class="links-2-v">
							<div class="dot"></div>
						</div>
					</div>
			</section>
			<section class="portfolio-lg-section d-flex flex-column justify-content-center align-items-center">
				<div class="sub-title-v-port">Portfolio</div>
					<div class="wrap-v-port">
						<div class="links" id="link-1-v" ng-style={{line1vPadding}}>
							<div class="dot"></div>
						</div>
					</div>
					<div class="portfolio-body">
						Below you'll find a sample of A Fresh Perspective's work. We strive to constantly improve the technologies we use in each project to ensure your website provides the best experience for your users and complies with the latest in web standards.
					</div>
					<div class="wrap-2-v-port">
						<div class="links-2-v">
							<div class="dot"></div>
						</div>
					</div>
				</section>
				<section class="portfolio-sm-section d-flex flex-column justify-content-center align-items-center">
					<div class="portfolio-1">
						<div class="port-1-header d-flex flex-row align-items-center">
							Sample: Web Design and Web Development
						</div>
						<div class="port-1-body d-flex flex-row justify-content-center align-items-center">
							<div class="port-1-img col d-none d-md-block">
								<a href="https://www.afpwebdesign.com/iamdaver"><img src="img/iamdaver.jpg" height="150px" alt="iamdaver.ca Screenshot"/></a>
							</div>
							<div class="port-1-desc col-9 d-none d-lg-block">
								<div class="port-1-name"><a href="https://www.afpwebdesign.com/iamdaver">(Formerly daver web design)</a></div><br/>
								A clean and simple design for A Fresh Perspective's initial branding. This website incorporates custom-coded animations, easy-scrolling mechanics and provides an example of how websites with minimal content can still be effective. This website is a mere 1.17mb and loads in an impressive 1.6 seconds (<a href="https://gtmetrix.com/reports/iamdaver.ca/jHarZdjy">source</a>).
							</div>
							<div class="port-1-desc d-lg-none d-sm-block">
								<div class="port-1-name">(Formerly daver web design)</div>
								A clean and simple design for A Fresh Perspective's initial branding. This website incorporates custom-coded animations, easy-scrolling mechanics and provides an example of how websites with minimal content can still be effective. This website is a mere 1.17mb and loads in an impressive 1.6 seconds (<a href="https://gtmetrix.com/reports/iamdaver.ca/jHarZdjy">source</a>).
							</div>
						</div>
					</div>
					<div class="dot"></div>
					<div class="portfolio-2">
						<div class="port-2-header d-flex flex-row align-items-center">
							Services: Web Design, Web Development and On-going Site Maintenance
						</div>
						<div class="port-2-body d-flex flex-row justify-content-center align-items-center">
							<div class="port-2-img col d-none d-md-block">
								<a href="https://thebarwithnoname.ca"><img src="img/bwnn.jpg" height="150px" alt="The Bar With No Name Screenshot"/></a>
							</div>
							<div class="port-2-desc col-9 d-none d-lg-block">
								<div class="port-2-name"><a href="https://thebarwithnoname.ca">The Bar With No Name</a></div><br/>
								This light-weight, unique and minimalist design was inspired by Pat's approach to The Bar With No Name. The Bar With No Name has had a successful 8 years of providing a very laid-back, welcoming atmosphere serving local craft beer and high-quality homemade food and this design reflects that.
							</div>
							<div class="port-2-desc d-lg-none d-sm-block">
								<div class="port-2-name">The Bar With No Name</div>
								This light-weight, unique and minimalist design was inspired by Pat's approach to The Bar With No Name. The Bar With No Name has had a successful 8 years of providing a very laid-back, welcoming atmosphere serving local craft beer and high-quality homemade food and this design reflects that.
							</div>
						</div>
					</div>
					<div class="dot"></div>
					<div class="portfolio-3">
						<div class="port-3-header d-flex flex-row align-items-center">
							Sample: Web Design and Web Development
						</div>
						<div class="port-3-body d-flex flex-row justify-content-center align-items-center">
							<div class="port-3-img col d-none d-md-block">
								<a href="https://www.afpwebdesign.com"><img src="img/afp.jpg" height="150px"/></a>
							</div>
							<div class="port-3-desc col-9 d-none d-lg-block">
								<div class="port-3-name"><a href="https://www.afpwebdesign.com">A Fresh Perspective</a></div><br/>
								The website you're currently browsing is the best example of the quality and uniqueness of our work. The goal is to present a seamless experience to the user, to give the impression that the website iss a single page transforming effortlessly in front of them. Thanks in part to utilizing SVG graphics, this website weighs in at 311kb and loads in 2.2 seconds (<a href="https://gtmetrix.com/reports/afpwebdesign.com/o2p2yuGG">source)</a>.
							</div>
							<div class="port-3-desc d-lg-none d-sm-block">
								<div class="port-3-name">A Fresh Perspective</div>
								The website you're currently browsing is the best example of the quality and uniqueness of our work. The goal is to present a seamless experience to the user, to give the impression that the website iss a single page transforming effortlessly in front of them.  Thanks in part to utilizing SVG graphics, this website weighs in at 311kb and loads in 2.2 seconds (<a href="https://gtmetrix.com/reports/afpwebdesign.com/o2p2yuGG">source)</a>
							</div>
						</div>
					</div>
				</section>
			</div>
			<footer>
		  <a data-toggle="modal" data-target="#messageModal">We'd love to hear from you</a>
		  <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		 		<div class="d-flex justify-content-center align-items-center" style="height: 100%">
		    	<div class="modal-dialog" role="document">
				    <div class="modal-content">
			        <button type="button" class="close align-self-end" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true"><i class="fa fa-close"></i></span>
			        </button>
				      <div class="modal-body">
				        <form method="POST" name="contactForm" action="process.php" ng-submit="sendContact()" target="hiddenFrame" novalidate> 
		              <!--novalidate turns off HTML5 validation and we will use AngularJS to validate -->
		              <p>
		                <div class="form-group" ng-class="{ 'has-error has-feedback' : contactForm.name.$invalid && !contactForm.name.$pristine }"> 
		                  <input class="form-control" tabindex="1" type="text" name="name" ng-model="contact.name" placeholder="Name" required>
		                  <span ng-show="contactForm.name.$error.required && !contactForm.name.$pristine" class="help-block">Your name is required.</span>
		                </div>
		              </p>
		              <p>
		                <div class="form-group" ng-class="{ 'has-error has-feedback' : contactForm.email.$invalid && !contactForm.email.$pristine }"> 
		                  <input class="form-control" tabindex="2" type="text" name="email" ng-model="contact.email" placeholder="Email" required>
		                  <span ng-show="contactForm.email.$error.required && !contactForm.email.$pristine" class="help-block">Your email is required.</span>
		                </div>
		              </p>
		              <p>
		                <input class="form-control" type="text" tabindex="3" name="company" placeholder="Company">
		              </p>
		              <p>
		                <textarea class="form-control" name="message" tabindex="4" ng-model="contact.message" rows="2" placeholder="What can we do for you?"></textarea>
		              </p>
		              <button type="submit" class="btn" ng-disabled="contactForm.$invalid">Submit</button>
		            </form>
		            <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
		            <div ng-show="testSuccess">Your message was successfully sent!</div>
				      </div>
				    </div>
				  </div>
				 </div>
		    </div>	
		</footer>  


